<div class="" #gameBoardd>
  <div *ngFor="let rows of gameBoard; let i = index"
        class="flex">
    <div *ngFor="let cols of rows; let j = index"
          class="square"
          (click)="play(i, j)"
          [ngClass]="{
            'x': showX(i,j),
            'o': showO(i,j)
          }">
          <!-- $event.target -->
    </div>
  </div>
</div>

<div *ngIf="empate">
  <span>Velha!</span>
</div>
<div *ngIf="victory">
  Player {{ finisher.player }} venceu!
</div>
<button *ngIf="empate || victory"
        (click)="initGameBoard()">
        Jogar novamente
</button>
