<div class="ht-100 flex container">

  <app-select-players (eventKeyupEnter)="nameSearchEnter($event)">
  </app-select-players>

  <app-error-message [text]="errors.message"
                     [error]="errors.characterSearch"
                     [attempts]="errors.attempts"></app-error-message>

  <app-game-board></app-game-board>

  <div class="flex thumbnail">
    <app-thumbnail *ngFor="let thumbnail of characters"
                    [thumbnail]="thumbnail">
    </app-thumbnail>
  </div>
</div>
