.thumbnail {
  justify-content: space-between;
}
.screen {
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.container {
  padding: 8px 42px;
}
.wd-50 {
  width: 50%;
}
